/* Reset css start */
html {
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  position: relative;
  text-rendering: optimizeSpeed;
  width: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

input,
input:required {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: inset 0 0 0 30px #fff;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus {
  outline: none;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:active,
a:hover {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img,
picture {
  display: inline-block;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  background: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  background: transparent;
  border: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

hr {
  background: #000;
  border: 0;
  box-sizing: content-box;
  height: 1px;
  line-height: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

pre {
  font-family: monospace, monospace;
  font-size: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

small,
sub,
sup {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  outline: 0;
  padding: 0;
}

legend {
  border: 0;
  color: inherit;
  display: block;
  max-width: 100%;
  white-space: normal;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

template {
  display: none;
}

/* Reset css end */

/* Main style */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 0px; /* need to change */
  scrollbar-gutter: stable;
}

body {
  font-family: "Yrsa", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1;
  overflow-x: hidden;
}

h1 {
  color: #443226;
  font-size: clamp(50px, 10vw, 128px);
  margin-bottom: 9px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

h2,
.bebas {
  font-family: "Bebas Neue", sans-serif;
}

h2{
  color: #DABF92;
  text-align: center;
  font-size: 32px;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0px min(20px, 4%);
  margin: 0 auto;
}

.btn {
  padding: 12px 34px;
  font-size: 24px;
  display: inline-block;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

/* Main style end */

/* MENU */

.menu__btn-wrapper {
  position: fixed;
  top: 20px;
  right: calc((100% - 1400px) / 2);
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: min-content;
}

@media (max-width: 1440px) {
  .menu__btn-wrapper {
    right: min(20px, 4%);
  }
}

.menu__btn-wrapper .bebas {
  font-size: 36px;
  color: #fff;
  margin-top: 3px;
}

.menu__btn {
  position: relative;
  width: 60px;
  padding: 12px 0;
  background-color: transparent;
  border: none;
  z-index: 10;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
}
.burger {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s;
}
.menu__btn::before,
.menu__btn::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: all 0.3s;
}
.menu__btn::before {
  top: 0;
}
.menu__btn::after {
  bottom: 0;
}

.menu__btn.menu__btn--active .burger {
  transform: rotate(45deg);
}

.menu__btn.menu__btn--active {
  padding: 0px;
  width: 40px;
}

.menu__btn.menu__btn--active::after,
.menu__btn.menu__btn--active::before {
  transition: all 0.3s;
}

.menu__btn.menu__btn--active::after {
  transform: rotate(315deg);
}

.menu__btn.menu__btn--active::before {
  transform: rotate(-225deg);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #443226;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s;
}

.menu.menu--active {
  transform: translateX(0);
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  margin-top: 100px;
  margin-right: calc(((100% - 1440px) / 2) + min(20px, 4%));
}

@media (max-width: 1440px) {
  .menu__list {
    margin-right: min(20px, 4%);
  }
}

.menu__item {
}
.menu__link {
  padding: 12px 0px 12px 34px;
  font-size: 24px;
  display: inline-block;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

/* MENU END */

/* Header */

.bg-img {
  background-image: url(img/hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  padding: 150px 0px;
  text-align: center;
}



.header__inner p {
  font-size: clamp(24px, 4.7vw, 36px);
  margin-bottom: 40px;
  color: #655346;
}

.header__inner--logo {
  margin-bottom: 100px;
}

/* Header END */

/* Text component */

.text__component {
  background-color: #222222;
}



.text__component.light-bg {
  background-color: #31241B;
}

.text__component-inner {
  padding: clamp(30px, 7vw, 90px) 0px;
}


.text__component h2{
  margin-bottom: 30px;
}

.text__component p {
  font-size: clamp(18px, 3vw, 24px);
  color: #f3f3f3;
  letter-spacing: 2px;
}

.text__component p + p{
  margin-top: 20px;
}

/* Text component END */

/* Slider component */
.slider__vertical-inner{
  display: flex;
  max-width: 1440px;
  min-height: 0px;
  margin: 0 auto;
  max-height: 750px;
  overflow-y: hidden;
  align-items: stretch;
  flex-grow: 3;

}
.slide-inner{
  
}

.slide-inner img{
max-width: 100%;
}

.swiper-pagination{
  display: none;
}

.swiper {
  width: 60%;
}

.swiper-slide{
  
}

.swiper-wrapper{
  align-items: center;
  
}

.pagination{
  background-color: #31241B;
  width: 50%;
}

.pagination__inner{
  margin-left: 50px;
  background-color: #443226;
  padding: 40px;
  height: 100%;
}

.pagination__items{
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  gap: 10px;
}

.pagination__bottom-item{
  font-size: 24px;
  padding: 20px;
  cursor: pointer;
  color: #f3f3f3;
}

.pagination__bottom-item.active{
  color: #DABF92;
}


/* Slider component END */

/* Headline component */

.headline__bg.bg-1{  background: url(./img/headlineBg.png);}

.headline__bg.bg-2{  background: url(./img/headlineBg2.png);}

.headline__bg.bg-1,
.headline__bg.bg-2{
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:repeat;
  background-position:100% 0;
}

.header__inner{
      padding: clamp(70px, 9vw, 200px) 0px;
}

.header__inner h2{
  margin-bottom: 50px;
}

.header__inner p{
  color: #f3f3f3;
  margin-bottom: 50px;
}

/* Headline component END */

/* Ambassadors component */

.ambassadors__component{
  background-color: #222222;
  padding: clamp(30px, 8vw, 100px) 0px;
}

.ambassadors__component h2{
  margin-bottom: clamp(30px, 8vw, 100px);
}
.ambassadors__component-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc((max(calc(100vw - 1440px), 100vw)/4)/4);
}
.ambassadors__component-item{
  max-width: 250px;
  width: 100%;
}

.ambassadors__component-item h3,
.ambassadors__component-item p{
  text-align: center;
  font-size: 24px;
  color: #DABF92;
}

.ambassadors__component-item h3{
  font-weight: 700;
  margin-bottom: 30px;
}

.ambassadors__component-item-img{
  overflow: hidden;
  margin-bottom: 30px;
}

.ambassadors__component-item-img img{
  transition: all .3s;
}

.ambassadors__component-item:hover img{
  transform: scale(1.1);
}

/* Ambassadors component END */

/* Events component */

.events__component{
  background-color: #222222;
  padding: clamp(30px, 8vw, 100px) 0px;
}

.events__component h2{
  margin-bottom: clamp(30px, 8vw, 100px);
}

.events__component-item h3,
.events__component-item p{
  font-size: 24px;
}

.events__component-item h3{
  font-weight: 700;
  margin-bottom: 30px;
  color: #DABF92;
}

.events__component-item p{
  color: #f3f3f3;
}

.events__component-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc((max(calc(100vw - 1440px), 100vw)/4)/4);
}



.events__component-item{
  max-width: 615px;
  width: 100%;
}
.events__component-item-img{
  border-radius: 55px;
  overflow: hidden;
  margin-bottom: 40px;
}

.events__component-item-img img{
  transition: all .3s;
}

.events__component-item:hover img{
  transform: scale(1.1);
}

/* Events component END */

/* Contact component */

.contact__component{
  background-color: #222222;
  padding: clamp(30px, 8vw, 100px) 0px;
}

.contact__component h2{
  margin-bottom: clamp(30px, 8vw, 100px);}


.contact__component-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}




.contact__component-text{
  color: #f3f3f3;
}
.contact__component-text h3{
  margin-bottom: 40px;
}
.contact__component-text p{
  margin-bottom: 40px;
}
.contact__component-text a{
  margin-bottom: 10px;
}
.phone{
  display: block;
}
.contact__component-map{
  max-width: 70%;
  width: 100%;
}

/* Contact component END */

/* Social component */

.social__component{
  background-color: #31241B;
  padding: clamp(30px, 8vw, 100px) 0px;
}

.social__component-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social__component-inner::before,
.social__component-inner::after{
  content: '';
  width: 60px;
  height: 2px;
  background-color: #DABF92;
}

.social__component-inner::before{
  left: -40px;
}

.social__component-inner::after{
  right: 0px;
}

.social__component-item{}

/* Social component END */

/* Footer */


.footer {padding: clamp(30px, 8vw, 100px) 0px;}
.black-bg{background-color: #0F0F0F;}
.footer__inner{
  color: #f3f3f3;
  display: flex;
  justify-content: space-around;
}
.footer__item-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__item-content--logo{
  display: flex;
  align-items: center;
  gap: 20px;
}
.sitename{}
.footer__item-content--phone{}
.footer__item-navigation{}
.menu__footer{}
.menu__footer-list{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu__footer-item{}
.menu__footer-link{
  transition: all .3s;
  cursor: pointer;
}

.menu__footer-item:hover .menu__footer-link{
  color: #DABF92;
  
}

/* Footer END */